<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>User {{actual_user.id}}</h1>
    <h2>First name: {{actual_user.first_name}}</h2>
    <h2>Last name: {{actual_user.last_name}}</h2>
    <h3>Email: {{actual_user.email}}</h3>
    <h3>Created at: {{actual_user.created_at}}</h3>
    <h3>Updated at: {{actual_user.updated_at}}</h3>
    <form action="/select/{{actual_user.id}}">
        <a href="/select/{{actual_user.id}}">Edit</a>
    </form>
    <form action="/delete/{{actual_user.id}}", method="POST">
        <button type="submit">Delete</button>
    </body>
    </form>
   
</html>