<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <head>
</head>
<body>
    
    <div class="container">
        <div class="left-side">
            <h1>New Dojo</h1>
            <form action="/new" method="POST">
                <label for="nombre">Name:</label>
                <input type="text" name="nombre" id="nombre" >
                {% for mensaje in get_flashed_messages(category_filter = ['error_name']) %}     
                <p>{{mensaje}}</p>                  
                {% endfor %}
                <button type="submit">Create</button>
            </form>
        </div>
        <div class="right-side">
            <h2>All Dojos</h2>
            <div class="dojos">
                {% for item in dojos: %}
                    <a href="/home/{{item.id}}"> {{item.nombre}}</a>
                {%endfor%}
            </div>
            <a href="/add-ninja">Add Ninja</a>
        </div>
    </div>
</body>
</html>