.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.red{
    background-color: red;
    width: 100px;
    height: 100px;
}

.black{
    background-color: black;
    width: 100px;
    height: 100px;
}

h1{
    letter-spacing: 2px;
    text-align: center;
}