body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.your_gold{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.container{
    display: flex;
}

.container div{
    margin: 50px;
}