<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>counter</h1>
        <h2>{{session['contador']}} veces</h2>
        <form action="/increment" method="POST">
            <button type="submit">Incrementar 2 veces</button>
        </form>
        <form action="/destroy_session" method="POST">
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
</html>